.classpath
.project
.settings
.checkstyle
*LocalTest.java
bin
.DS_Store
/target/
/target-eclipse/
*.iml
/.idea
log.txt
/target-eclipse/
/src/main/resources/log4j.xml
/src/main/resources/logback.xml
./src/main/webapp/META-INF/MANIFEST.MF
MANIFEST.MF
workspace.xml
